<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.commitment_app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".CreateAccount"
            android:label="Create Account"/>
        <activity android:name=".UserHome"
            android:label="User Home"/>
        <activity android:name=".NewProject"
            android:label="New Project"/>
        <activity android:name=".UserSettings"
            android:label="User Settings"/>
        <activity android:name=".Settings"
            android:label="Settings"/>
        <activity
            android:name=".Dashboard"
            android:theme="@style/noAnimTheme"
            android:label="Dashboard"/>
        <activity
            android:name=".Surveys"
            android:theme="@style/noAnimTheme"
            android:label="Surveys"/>
        <activity
            android:name=".Commitments"
            android:theme="@style/noAnimTheme"
            android:label="Commitments"/>
        <activity android:name=".EditCommitment"
            android:label="Commitment"/>
        <activity
            android:name=".Team"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan"
            android:label="Team"/>
        <activity android:name=".ProjectSettings"
            android:label="Project Settings"/>
        <activity
            android:name=".Notifications"
            android:theme="@style/noAnimTheme"
            android:label="Notifications"/>
    </application>

</manifest>